/* Reset some default browser styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.app-container {
  display: flex;

}


.main-page {
  width: 100%;
  background-color: #7D98A1;
  height: 100vh;
  padding: 20px;

}